h1, h2, h3, h4, h5, .return {
	font-family: 'Roboto Condensed', sans-serif;
}

.jumbotron {
	text-align: center;
	color: white;
	background-position: 50% 10%;
	height: 40vh;
	background-size: cover;
	padding-top: 17vh;
	margin-bottom: 0px;
}

.jumbotron h1 {
	background-color: rgba(0,0,0,.15);
	border-radius: 50px;
}

.return {
	background-color: black;
	font-size: 130%;
	padding: 7px;
}

a {
	color:white;
}

a:hover {
	color:white;
	text-decoration: none;
}

.score {
	background-color: #ddd;
	padding: 10px;
	margin-top: 20px;
	border-radius: 6px;
}

.score h2 {
	margin-top: 10px;
	padding-bottom: 0px;
	margin-bottom: 10px;
	background-color: white;
	width: 100%;
	border-radius: 6px;
}

.correct, .incorrect, .score h2 {
	text-align: center;
}

.correct, .incorrect {
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 0px;
}

.correct {
	color: #5cb85c;
}

.incorrect {
	color: #c53129;
}


#middle {
	display: none;
}

.results {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	height: 240px;
	display: inline-block;
	background-color: black;
	width: 100%;
	margin-top: 20px;
	border-radius: 10px;
	overflow: hidden;
	cursor: pointer;
}

.results p {
	padding: 5px;
	display: inline-block;
	vertical-align: middle;
	font-family: "Roboto Condensed", sans-serif;
	font-size: 50px;
	line-height: 85%;
	background-color: rgba(0,0,0,.15);
	width: 100%;
}

.bold {
	font-weight: bold;
}

.correctGuess {
	background-color: #5cb85c;
}

.incorrectGuess {
	background-color: #c53129;
}

.guess {
	color: white;
	margin-top: 10px;
	border-radius: 6px;
}

#timerBar {
	background-color: #aaa;
	height: 8px;
	margin-top: 8px;
	width: 0%;
	border-right: solid 4px white;
	border-left: solid 4px white;
}

.different-artist {
	background-color: black;
	border-radius: 4px;
}

#end {
	margin-top: 20px;
}

.message {
	color: white;
	font-size: 125%;
	background-color: #183973;
	padding: 4px;
	border-radius: 6px;
}

.message span {
	cursor: pointer;
}